@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
    background: linear-gradient(rgb(0 0 0 /66%),rgb(0 0 0 /63%)),url(https://wallpaperaccess.com/full/1512223.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

@media only screen and (max-width: 850px) {
    #input{
        position: sticky;
        top: 30px;
    }
}
@media only screen and (max-width: 770px) {
    #input{
        position: sticky;
        top: 60px;
    }
}
@media only screen and (min-width: 850px) {
    #input{
        position: sticky;
        top: 0px;
    }
}